body{
    display: flex;
    justify-content: center;
    background-color: blue;
}
div{
    border: 1px solid#000000;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    margin: -20px;
    border-radius: 50% 0% 50% 50%;
}
.p1{
    height: 150px;
    width: 150px;
    margin-top: 300px;
    z-index: 2;
}
.p2{
    height: 150px;
    width: 150px;
    margin-top: 225px;
    z-index: 1;
    
}
.p3{
    height: 150px;
    width: 150px;
    margin-top: 150px;
    transform: scale(-1);
    z-index: -1;
}