body {
    font-family: Arial, sans-serif;
    margin: 10px;
    gap: 10px;
    background-color: #866363;
}
body.container {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
}

.header {
    grid-area: header;
    border: 1px solid black;
    display: flex;
    align-items: center;
    background: #fff;
}

.header img {
    height: 60px;
}

.header h1 {
    flex: 1;
    text-align: center;
    margin: 0;
}

.nav {
    grid-area: nav;
    border: 1px solid black;
    background: #ffffff;
}

.menu-principal {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.menu-principal li a {
    color: #000000;
    text-decoration: none;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0.5rem;
    background: #f9f9f9;
    background-color: #866363;
}

.menu-categorias {
    border: 1px solid black;
    display: grid;
    list-style: none;
    padding: 1rem;
    margin: 0;
    background: #ffffff;
}
.menu-categorias li a{
    border: 1px solid black;
    background-color: #866363;
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    justify-content: center;
    color: black;
    text-decoration: none;
    border-radius: 12px;
}

.product-container {
    border: 1px solid black;
    padding: 1rem;
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}
.product-item {
    border: 1px solid black;
    background-color: #866363;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    border-radius: 12px;
}
.product-item img{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    margin: 5pt;
    border-radius: 12px;
}
.product-item a{
    text-decoration: none;
    font-size: 10pt;
    color: #000000;
}
.product-item p{
    margin: 3pt;
    font-size: 10pt;
    color: #000000;
}
.footer {
    grid-area: footer;
    border: 1px solid black;
    background: #ffffff;
}
.footer-content {
    display: flex;
    justify-content: space-evenly;
}
.footer-section {
    flex: 1;
    margin: 5px;
}
.footer-section a {
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.footer-section h4{
    margin: 0;
    padding-bottom: 15px;
    color: #000000;
}
.footer-section p{
    text-decoration: none;
    color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}